In [12]:
import pandas as pd
import numpy as np

In [13]:
df=pd.read_excel('bds_f_st_release.xlsx', skiprows=9, sheet_name=None)
state_list=[]
for i in df:
    state_list.append(i)

print (state_list)

['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [14]:
for row in state_list:
    x=df[row]
    x['state']=row
    df[row]=x

cdf = pd.concat(df.values())

In [21]:
cdf['start_up_rate']=cdf['Estabs_Entry']/cdf['Emp']
cdf['Growth']=(cdf['Job_Creation']-cdf['Job_Destruction'])/cdf['Emp']
cdf['closure_rate']=cdf['Firmdeath_Estabs']/cdf['Emp']
cdf['turbulence_rate']=cdf['Estabs_Entry']+cdf['Firmdeath_Estabs']-abs(cdf['Estabs_Entry']-cdf['Firmdeath_Estabs'])

In [16]:
cdf.to_csv('states_data.csv')

# Get mean values for each decade

In [23]:
# Values for the 80s
headers=['State', "Start_up", "Closure", "Turbulence", "Growth"]
rl=[]
for row in state_list:
    regime_list=[]
    df=cdf[cdf['state']==row]
    df=df[df['Year']>1979]
    df=df[df['Year']<1990]
    start_up=df['start_up_rate'].mean()*10
    closure=df['closure_rate'].mean()*10
    turbulence=df['turbulence_rate'].mean()*10
    growth=df['Growth'].mean()*10
    regime_list=[row, start_up, closure, turbulence, growth]
    rl.append(regime_list)
    
regime=pd.DataFrame(data=rl, columns=headers)
median_start=regime['Start_up'].median()
median_growth=regime['Growth'].median()

regime['s_class']=np.where(regime['Start_up']>median_start,1,-1)
regime['g_class']=np.where(regime['Growth']>median_growth,1,-1)
regime['sum']=regime['s_class']+regime['g_class']

regime['classification']=np.where(regime['sum']==2,"Ent", 0)
regime['classification']=np.where(regime['sum']==0,"Routine", regime['classification'])
regime['classification']=np.where(regime['g_class']==-1,"Rev", regime['classification'])
regime['classification']=np.where(regime['sum']==-2,"Down", regime['classification'])

regime

   State  Start_up   Closure    Growth  s_class  g_class  sum classification
0     AL  0.083732  0.048437  0.189446       -1       -1   -2           Down
1     AK  0.147734  0.073993  0.275919        1        1    2            Ent
2     AZ  0.113228  0.055279  0.455095        1        1    2            Ent
3     AR  0.094492  0.057718  0.225176        1        1    2            Ent
4     CA  0.093018  0.047284  0.297943        1        1    2            Ent
5     CO  0.112490  0.062871  0.211540        1        1    2            Ent
6     CT  0.066980  0.034823  0.236568       -1        1    0        Routine
7     DE  0.070566  0.034022  0.374914       -1        1    0        Routine
8     DC  0.055105  0.027003  0.160943       -1       -1   -2           Down
9     FL  0.121316  0.061685  0.449044        1        1    2            Ent
10    GA  0.085293  0.042947  0.370029       -1        1    0        Routine
11    HI  0.090779  0.046651  0.282361        1        1    2            Ent
12    ID  0.113864  0.066161  0.055580        1       -1    0            Rev
13    IL  0.065192  0.035461  0.069366       -1       -1   -2           Down
14    IN  0.067375  0.035079  0.111567       -1       -1   -2           Down
15    IA  0.081356  0.052817  0.080370       -1       -1   -2           Down
16    KS  0.093311  0.056021  0.136378        1       -1    0            Rev
17    KY  0.080675  0.047930  0.165773       -1       -1   -2           Down
18    LA  0.087430  0.054622  0.001733        1       -1    0            Rev
19    ME  0.098238  0.050205  0.311698        1        1    2            Ent
20    MD  0.076978  0.035551  0.352680       -1        1    0        Routine
21    MA  0.060957  0.031204  0.240575       -1        1    0        Routine
22    MI  0.069620  0.037591  0.089300       -1       -1   -2           Down
23    MN  0.069904  0.037388  0.193034       -1        1    0        Routine
24    MS  0.090100  0.054856  0.140028        1       -1    0            Rev
25    MO  0.077089  0.042816  0.166944       -1       -1   -2           Down
26    MT  0.140543  0.083691  0.009233        1       -1    0            Rev
27    NE  0.085727  0.050997  0.169264       -1       -1   -2           Down
28    NV  0.093853  0.047323  0.427271        1        1    2            Ent
29    NH  0.094375  0.046208  0.392813        1        1    2            Ent
30    NJ  0.075088  0.039779  0.253371       -1        1    0        Routine
31    NM  0.120418  0.067328  0.207414        1        1    2            Ent
32    NY  0.073185  0.044266  0.170256       -1       -1   -2           Down
33    NC  0.075079  0.035719  0.275440       -1        1    0        Routine
34    ND  0.108570  0.063184  0.144296        1       -1    0            Rev
35    OH  0.063297  0.034195  0.097981       -1       -1   -2           Down
36    OK  0.103813  0.066686  0.081419        1       -1    0            Rev
37    OR  0.112386  0.064961  0.093341        1       -1    0            Rev
38    PA  0.063577  0.034238  0.109963       -1       -1   -2           Down
39    RI  0.073837  0.041121  0.168126       -1       -1   -2           Down
40    SC  0.081278  0.039272  0.267902       -1        1    0        Routine
41    SD  0.107750  0.063384  0.159565        1       -1    0            Rev
42    TN  0.079501  0.044177  0.239070       -1        1    0        Routine
43    TX  0.092301  0.053412  0.186481        1       -1    0            Rev
44    UT  0.095930  0.054074  0.272102        1        1    2            Ent
45    VT  0.110289  0.057200  0.317942        1        1    2            Ent
46    VA  0.082148  0.037249  0.376077       -1        1    0        Routine
47    WA  0.108024  0.057111  0.290828        1        1    2            Ent
48    WV  0.085877  0.047972 -0.111779       -1       -1   -2           Down
49    WI  0.069268  0.035972  0.157214       -1       -1   -2           Down
50    WY  0.135630  0.084727 -0.113733        1       -1    0            Rev

In [18]:
regime.to_csv('regime1980.csv')

In [19]:

# Values for the 90s
headers=['State', "Start_up", "Growth"]
rl=[]
for row in state_list:
    regime_list=[]
    df=cdf[cdf['state']==row]
    df=df[df['Year']>1989]
    df=df[df['Year']<2000]
    start_up=df['start_up_rate'].mean()
    growth=df['Growth'].mean()
    regime_list=[row, start_up, growth]
    rl.append(regime_list)
    
regime=pd.DataFrame(data=rl, columns=headers)

median_start=regime['Start_up'].median()
median_growth=regime['Growth'].median()

regime['s_class']=np.where(regime['Start_up']>median_start,1,-1)
regime['g_class']=np.where(regime['Growth']>median_growth,1,-1)
regime['sum']=regime['s_class']+regime['g_class']

regime['classification']=np.where(regime['sum']==2,"Ent", 0)
regime['classification']=np.where(regime['sum']==0,"Routine", regime['classification'])
regime['classification']=np.where(regime['g_class']==-1,"Rev", regime['classification'])
regime['classification']=np.where(regime['sum']==-2,"Down", regime['classification'])


regime.to_csv('regime1990.csv')
regime

   State  Start_up    Growth  s_class  g_class  sum classification
0     AL  0.007032  0.020828       -1       -1   -2           Down
1     AK  0.011529  0.036883        1        1    2            Ent
2     AZ  0.008747  0.039645        1        1    2            Ent
3     AR  0.007641  0.027677        1        1    2            Ent
4     CA  0.007874  0.013578        1       -1    0            Rev
5     CO  0.009744  0.039365        1        1    2            Ent
6     CT  0.005839  0.000196       -1       -1   -2           Down
7     DE  0.007112  0.021131       -1       -1   -2           Down
8     DC  0.004587 -0.002535       -1       -1   -2           Down
9     FL  0.009882  0.027936        1        1    2            Ent
10    GA  0.007557  0.028338        1        1    2            Ent
11    HI  0.006883  0.002897       -1       -1   -2           Down
12    ID  0.010824  0.040320        1        1    2            Ent
13    IL  0.005860  0.016854       -1       -1   -2           Down
14    IN  0.005954  0.019345       -1       -1   -2           Down
15    IA  0.006273  0.022807       -1       -1   -2           Down
16    KS  0.007393  0.024675        1        1    2            Ent
17    KY  0.006816  0.023264       -1        1    0        Routine
18    LA  0.007075  0.023634       -1        1    0        Routine
19    ME  0.008582  0.008836        1       -1    0            Rev
20    MD  0.007047  0.009754       -1       -1   -2           Down
21    MA  0.005587  0.002824       -1       -1   -2           Down
22    MI  0.005984  0.016580       -1       -1   -2           Down
23    MN  0.006130  0.025926       -1        1    0        Routine
24    MS  0.007405  0.027420        1        1    2            Ent
25    MO  0.006796  0.018503       -1       -1   -2           Down
26    MT  0.012440  0.030805        1        1    2            Ent
27    NE  0.006705  0.026531       -1        1    0        Routine
28    NV  0.008178  0.050923        1        1    2            Ent
29    NH  0.007984  0.012875        1       -1    0            Rev
30    NJ  0.007027  0.006484       -1       -1   -2           Down
31    NM  0.009773  0.030198        1        1    2            Ent
32    NY  0.006989  0.002042       -1       -1   -2           Down
33    NC  0.006827  0.023079       -1       -1   -2           Down
34    ND  0.007790  0.026734        1        1    2            Ent
35    OH  0.005450  0.014913       -1       -1   -2           Down
36    OK  0.008472  0.024128        1        1    2            Ent
37    OR  0.009829  0.035023        1        1    2            Ent
38    PA  0.005518  0.008901       -1       -1   -2           Down
39    RI  0.006875 -0.000513       -1       -1   -2           Down
40    SC  0.007245  0.023847       -1        1    0        Routine
41    SD  0.008705  0.036419        1        1    2            Ent
42    TN  0.006517  0.022802       -1       -1   -2           Down
43    TX  0.007816  0.030089        1        1    2            Ent
44    UT  0.008040  0.046395        1        1    2            Ent
45    VT  0.008802  0.011389        1       -1    0            Rev
46    VA  0.007154  0.018515       -1       -1   -2           Down
47    WA  0.010269  0.029787        1        1    2            Ent
48    WV  0.007677  0.013532        1       -1    0            Rev
49    WI  0.005773  0.021836       -1       -1   -2           Down
50    WY  0.012238  0.026003        1        1    2            Ent

In [20]:

# Values for the 2000s
headers=['State', "Start_up", "Growth"]
rl=[]
for row in state_list:
    regime_list=[]
    df=cdf[cdf['state']==row]
    df=df[df['Year']>1999]
    df=df[df['Year']<2010]
    start_up=df['start_up_rate'].mean()
    growth=df['Growth'].mean()
    regime_list=[row, start_up, growth]
    rl.append(regime_list)
    
regime=pd.DataFrame(data=rl, columns=headers)

median_start=regime['Start_up'].median()
median_growth=regime['Growth'].median()

regime['s_class']=np.where(regime['Start_up']>median_start,1,-1)
regime['g_class']=np.where(regime['Growth']>median_growth,1,-1)
regime['sum']=regime['s_class']+regime['g_class']

regime['classification']=np.where(regime['sum']==2,"Ent", 0)
regime['classification']=np.where(regime['sum']==0,"Routine", regime['classification'])
regime['classification']=np.where(regime['g_class']==-1,"Rev", regime['classification'])
regime['classification']=np.where(regime['sum']==-2,"Down", regime['classification'])


regime.to_csv('regime2000.csv')
regime

   State  Start_up    Growth  s_class  g_class  sum classification
0     AL  0.005972  0.004270       -1       -1   -2           Down
1     AK  0.008753  0.029236        1        1    2            Ent
2     AZ  0.007394  0.019159        1        1    2            Ent
3     AR  0.006421  0.006964       -1       -1   -2           Down
4     CA  0.007199  0.010288        1        1    2            Ent
5     CO  0.008797  0.013554        1        1    2            Ent
6     CT  0.005236  0.001005       -1       -1   -2           Down
7     DE  0.006699  0.007719        1       -1    0            Rev
8     DC  0.004380  0.020063       -1        1    0        Routine
9     FL  0.008971  0.014570        1        1    2            Ent
10    GA  0.007027  0.008169        1       -1    0            Rev
11    HI  0.006187  0.017200       -1        1    0        Routine
12    ID  0.009874  0.018210        1        1    2            Ent
13    IL  0.005549  0.000947       -1       -1   -2           Down
14    IN  0.005164  0.000370       -1       -1   -2           Down
15    IA  0.005319  0.007310       -1       -1   -2           Down
16    KS  0.006203  0.007680       -1       -1   -2           Down
17    KY  0.005551  0.006626       -1       -1   -2           Down
18    LA  0.006096  0.009769       -1        1    0        Routine
19    ME  0.007704  0.007142        1       -1    0            Rev
20    MD  0.006253  0.012608       -1        1    0        Routine
21    MA  0.005248  0.004433       -1       -1   -2           Down
22    MI  0.005562 -0.011179       -1       -1   -2           Down
23    MN  0.005604  0.006726       -1       -1   -2           Down
24    MS  0.006362  0.000135       -1       -1   -2           Down
25    MO  0.006229  0.005538       -1       -1   -2           Down
26    MT  0.011235  0.021023        1        1    2            Ent
27    NE  0.005774  0.010528       -1        1    0        Routine
28    NV  0.007406  0.023267        1        1    2            Ent
29    NH  0.006526  0.010798        1        1    2            Ent
30    NJ  0.006631  0.005136        1       -1    0            Rev
31    NM  0.007814  0.018464        1        1    2            Ent
32    NY  0.006901  0.007085        1       -1    0            Rev
33    NC  0.006421  0.007595       -1       -1   -2           Down
34    ND  0.006343  0.018372       -1        1    0        Routine
35    OH  0.004780 -0.003102       -1       -1   -2           Down
36    OK  0.007072  0.015128        1        1    2            Ent
37    OR  0.008062  0.007152        1       -1    0            Rev
38    PA  0.005094  0.006977       -1       -1   -2           Down
39    RI  0.006316  0.005888       -1       -1   -2           Down
40    SC  0.006607  0.004838        1       -1    0            Rev
41    SD  0.007331  0.015120        1        1    2            Ent
42    TN  0.005573  0.004909       -1       -1   -2           Down
43    TX  0.006578  0.019885        1        1    2            Ent
44    UT  0.008247  0.022299        1        1    2            Ent
45    VT  0.007142  0.011103        1        1    2            Ent
46    VA  0.006423  0.014288        1        1    2            Ent
47    WA  0.008224  0.014029        1        1    2            Ent
48    WV  0.006182  0.009567       -1        1    0        Routine
49    WI  0.005054  0.004619       -1       -1   -2           Down
50    WY  0.010801  0.026783        1        1    2            Ent